@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');
    $font:'Lato', sans-serif;
    $palette_primary: #fff3e2;
    $palette_secondary: #ebcfc4;
    $palette_third: #706897;
    $palette_fourth: #9088d4;
    $break-small: 480px;
    $break-medium:768px;
.wrapperPokemons{
    font-family: $font;
    display: flex;
    justify-items: space-around;
    align-items: flex-start;
    max-height: 100vh;
@media only screen and (max-device-width:$break-small){
    flex-direction: column;
    width: 100%;
    height: auto;
}
    .wrapperListPokemons{
        background-color: $palette_primary;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        max-width: 360px;
        max-height: 100vh;
       @media only screen and (max-device-width:$break-small){
            width: 100%;
            height: auto;
        } 
        .titlePokemons{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1rem;
        }
       .wrapperList{
           width: 100%;
           text-align: center;
           overflow-y: scroll;
           @media only screen and (max-device-width:$break-small){
            display: flex;
            overflow-x: scroll;
        }
            .cardPokemon{
                background-color: $palette_secondary;
                box-sizing: border-box;
                display: block;
                margin: 0 auto;
                width: 100%;
                padding: .5rem .6rem;
                margin-bottom: 1rem;
                border: none;
                border-radius: 3rem;
                font-weight: 700;
                @media only screen and (max-device-width:$break-small){
                    margin: .5rem;
                    padding: .5rem  .8rem;
                }
            }
       }
    }
    .wrapperInfoPokemons{
        background-image: url("https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
        background-position: center;
        background-size: cover;
        width: 100%;
        box-sizing: border-box;
        padding: 6rem;
        min-height: 100vh;
        @media only screen and (max-device-width:$break-small){
            padding: 4rem;
        }
        @media only screen and (max-device-width:$break-medium){
            padding: 4rem 0;
        }
        .namePoke{
            color: red;
            text-align: center;
            font-size: 5rem;
            margin-bottom: 1rem;
            font-weight: 700;
            @media only screen and (max-device-width:$break-small){
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            @media only screen and (max-device-width:$break-medium){
                margin-bottom: 4.5rem;
            }
            
        }
        .cardInfo{
            text-align: center;
            font-size: 1.5rem;
            color: white;
            margin-bottom: 1.5rem;
            font-style: italic;
            font-weight: 400;
            @media only screen and (max-device-width:$break-small){
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
            .info{
                font-size: 1.4rem;
                color: black;
                font-weight: 700;
                @media only screen and (max-device-width:$break-small){
                    font-size: 1.2rem;
                }
            }
            .titlephotos{
                font-style: italic;
                font-size: 1.8rem;
                font-weight: 400;
                color: red;
                @media only screen and (max-device-width:$break-small){
                    font-size: 1.5rem;
                }
            }
            .imgPokemon{
                width: 110px;
                font-size: .8rem;
            }
        }
    }
}